.job-info-container {
  position: relative;

  .job-info-background {
    display: flex;
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    width: calc(100% - 20px);

    .job-info-hide-button, .job-info-apply-button {
      height: 100%;
      width: 110px;
      min-width: 110px;
      z-index: 1;
      border: none;

      .icon-colored-stroke-part {
        stroke: #DFDFDF;
      }

      svg {
        width: 50px;
      }
    }

    .job-info-apply-button {
      border-radius: 10px 0 0 10px;
      background-color: #70A66B;
      padding-right: 10px;
    }

    .job-info-hide-button {
      border-radius: 0 10px 10px 0;
      background-color: #C1625A;
      padding-left: 10px;
    }

    .job-info-background-gradient {
      height: 100%;
      width: 100%;
      background: linear-gradient(90deg, #70A66B 0%, #C1625A 100%);
    }
  }

  .job {
    z-index: 2;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid #cfd2d7;
    margin: 0 10px;
    transition: border-color .2s ease, background-color 0.3s;
    position: relative;
    background-color: white;
    cursor: pointer;

    &.selected {
      background: #D7E1FC;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #eef1fa;
      }
    }

    &.removed {
      background-color: red;

      & >* {
        opacity: 0;
        transition: opacity 0.3s;
      }
    }

    .job-header {
      height: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .job-logo {
        max-width: 210px;
        max-height: 40px;
        border-radius: 5px;
        padding: 5px;
        background: white;
        box-sizing: border-box;
      }

      .job-actions-container {
        position: absolute;
        right: 10px;
        display: flex;
        flex-direction: row;

        .job-action-button {
          cursor: pointer;
          height: 25px;
          width: 25px;
          border-radius: 5px;
          background: none;
          border: none;
          padding: 0;

          @media (any-hover: hover) {
            &:hover {
              background-color: white;
            }
          }

          svg {
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    .job-title-container .filtered-text {
      background-color: green;
      color: white;
      border-radius: 5px;
      padding: 2px 5px;
    }

    .spaced {
      margin: 10px 0;
    }
  }
}