.job-representation {
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;

  .job-representation-content {
    overflow: auto;
    height: 100%;

    .filtered-text {
      background-color: green;
      color: white;
      border-radius: 5px;
      padding: 2px 5px;
    }
  }
}