.jobs-container {
  height: calc(100% - 10px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 500px;

  .jobs-container-list {
    height: calc(100% - 100px);
    overflow: auto;
  }

  .filters-container {
    height: 50px;
    background-color: white;
    box-shadow: 0 4px 6px 0 darkgray;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;

    .filter-button {
      max-height: 30px;
      padding: 5px;
      box-sizing: border-box;
      border-radius: 5px;
      margin-right: 5px;
      cursor: pointer;
      transition: box-shadow .2s ease, border-color .2s ease;

      &.not-applied-button {
        background-color: #eaecf1;
        border: 1px solid #eaecf1;

        &.selected {
          border-color: #989ba2;
          box-shadow: 0 0 5px 0 #989ba2;
        }
      }

      &.applied-button {
        background-color: #beefd3;
        border: 1px solid #beefd3;

        &.selected {
          border-color: #6d977f;
          box-shadow: 0 0 5px 0 #6d977f;
        }
      }

      &.hidden-button {
        background-color: #fdb8cb;
        border: 1px solid #fdb8cb;

        &.selected {
          border-color: #cb1245;
          box-shadow: 0 0 5px 0 #cb1245;
        }
      }

      &.important-button {
        background-color: #f7fdb8;
        border: 1px solid #f7fdb8;

        &.selected {
          border-color: #b7bc82;
          box-shadow: 0 0 5px 0 #b7bc82;
        }
      }
    }
  }
}